*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    font-family: "Rubik Dirt", system-ui;
}

.container {
    text-align: center;
    background-color: aliceblue;
    color: #333;
    width: 1000px;
    padding: 30px;
    border-radius: 10px;
}

.container h1 {
    font-size: 40px;
    margin-top: 0;
}

.players {
    /* border: 2px solid maroon; */
    /* margin-bottom: 20px; */
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

.playground {
    /* border: 2px solid #333; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player, .computer {
    width: 400px;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* border: 2px solid maroon; */
}

.rock,
.paper,
.scissors {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.rock:hover,
.paper:hover,
.scissors:hover {
    cursor: pointer;
    border: 4px solid;
    transform: scale(105%);
}

.rock {
    background-color: maroon;
    color: whitesmoke;
}

.paper {
    background-color: lightgray;
}

.scissors {
    background-color: olive;
    color: lightgrey;
}

.scores {
    /* border: 2px solid #333; */
    display: flex;
    justify-content: space-between;
}

.scores .player-score {
    margin-left: 40px;
}

.player-score #point, 
.computer-score #point {
    color: lightseagreen;
}

.scores .computer-score {
    margin-right: 40px;
}

hr {
    border: 2px dashed;
    width: 96%;
}

.winner-wrapper .game-rule {
    margin: 26px auto 0;
}